---
layout: compress
---

<!DOCTYPE html>


<html>
	<!--<meta http-equiv="Content-Type" content="text[表情]ml;charset=utf-8"></meta>-->	<meta property="og:url" content="https://www.mob.com" />	<meta property="og:type" content="website" />	<meta property="og:title" content="Mob官网 - 全球领先的移动开发者服务平台" />	<meta property="og:description" content="Mob是全球领先的移动开发者服务平台，可满足移动应用开发中SDK需求，涵盖深度链接、第三方登录分享、短信验证、消息推送等功能。已累计帮助近30万个开发者团队降低开发成本，提高集成效率，构建最贴心的一站式服务平台" />	<meta property="og:image" content="http://a3.att.hudong.com/68/61/300000839764127060614318218_950.jpg" />	<meta property="og:image:type" content="image/jpeg">		<title>余文建</title>
	
	<body>
		
		<h1>
			这是测试facebook的卡片式分享
		</h1>
		
	</body>
	</head>
	
	
	
	
	
	
	
</html>


<!--以下是原版 -->

<!-- <html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", function(user) {
                    if (!user) {
                        window.netlifyIdentity.on("login", function() {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
		<script type="text/javascript" src="//b0av.t4m.cn/applink.js"></script>
		/*
		 * MobLink 支持数组=>MobLink([...]) 和对象=>MobLink({...})
		 * 页面上有多个元素需要跳转时使用数组方式,仅单个元素时可以使用对象的方式进行初始化
		 * el: 表示网页上Element的id值,该字段为空或者不写则表示MobLink默认浮层上的打开按钮(注意:必须为元素id,以#开头)
		 * path: 对应App里的路径
		 * params: 网页需要带给客户端的参数
		 */
		MobLink([
		    {
		        el: "",
		        path: "demo/a",
		        params: {
		            key1: "value1",
		            key2: "value2",
		        }
		    },
		    {
		        el: "#openAppBtn",
		        path: "demo/b",
		        params: {
		            key1: "value1",
		            key2: "value2",
		        }
		    },
		]);
    </body>
</html> -->

