---
layout: compress
---

<!DOCTYPE html>

<!--以下是原版 -->

 <html lang="{{ site.language }}" class="no-js">
	 <!-- head2 用来测试facebook的卡片式分享 -->
    <!-- {% include head2.html %} -->
	{% include head.html %}
	</head>
	
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", function(user) {
                    if (!user) {
                        window.netlifyIdentity.on("login", function() {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
		<!-- <script type="text/javascript" src="//b0av.t4m.cn/applink.js"></script> -->
		<script type="text/javascript" src="//pr9.t4m.cn/applink.js"></script>
		/*
		 * MobLink 支持数组=>MobLink([...]) 和对象=>MobLink({...})
		 * 页面上有多个元素需要跳转时使用数组方式,仅单个元素时可以使用对象的方式进行初始化
		 * el: 表示网页上Element的id值,该字段为空或者不写则表示MobLink默认浮层上的打开按钮(注意:必须为元素id,以#开头)
		 * path: 对应App里的路径
		 * params: 网页需要带给客户端的参数
		 */
		<script type="application/javascript">
		MobLink([
		    {
		        el: "",
		        path: "demo/a",
		        params: {
		            key1: "value1",
		            key2: "value2",
		        }
		    },
		  
		]);
	   </script>
    </body>
</html> 

